<a href="/new"> Return to table </a>

<form action="/db_update" method="POST">
	<p>
		<label for="name">
			Iteam_name
		</label>
		<input type="text" name="name" id="name"/>
	</p>
	<p>
		<label for="price">
				Price in $
		</label>
		<input type="number" name="price" id="price"/>
	</p>
		<input type="submit" value="Отправить">
		<input type="reset" value="Очистить">
</form>

<table>
	<tr>
		<th>Name</th>
		<th>Price in $</th>
	</tr>
	
</table>