  BODY {
   	background: #C0C0C0;
   	font-size:12px;
   }

   .header {
    height:50px;
    background:#000;
    width:100%;
    margin:0px auto;
    }

   TABLE {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    width: 100%; /* Ширина таблицы */
   }
   TH, TD {
    background:  #FFFFFF;
    border: 1px solid black; /* Параметры рамки */
    text-align: center; /* Выравнивание по центру */
    padding: 4px; /* Поля вокруг текста */
    font-size:12px;
   }
   TH {
    background: #808080; /* Цвет фона ячейки */
    border: 1px solid black;
    height: 10px; /* Высота ячеек */
    vertical-align: bottom; /* Выравнивание по нижнему краю */
    padding: 0; /* Убираем поля вокруг текста */
    font-size:12px;
   }